html, body {
  height: 100%;
}

body {
  margin: 0;
  background: var(--main-bg-color);

  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout .main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive */
@media (max-width: 992px) {
  .layout .main-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 80px;
  }
}